/* Navigation Bar */
.navbar{
    border-bottom: 1px solid #E8E8E8;
}

.main{
    width: 1200px;
    padding-top: 94px;
    margin: 0 auto;
}
  
.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Picture Display Area */
.sectionPicture{
    width: 540px;
    height: 400px;
    /* background-image: url("/static/pic/thumbnail.png"); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center ;
    position: relative;
    border-radius: 5px;
    margin: 0 15px;
}
.sectionPicture.fade-out{
    transition: opacity 0.8s;
    opacity: 0;
}
.sectionPicture.fade-in{
    transition: opacity 2s;
    opacity: 1;
}
.sectionPicture__btn--left,
.sectionPicture__btn--right {
    background-size: cover;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    opacity: 0.75;
    border-radius: 100%;
    border: 3px 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
}
.sectionPicture__btn--left{
    background-image: url(/static/pic/leftArrow.png);
    left: 10px;
}
.sectionPicture__btn--right{
    background-image: url(/static/pic/rightArrow.png);
    right: 10px;
}
.sectionPicture__dotsBlock{
    height: 12px;
    position: absolute;
    bottom:22px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sectionPicture__dot{
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}
.sectionPicture__dot.black{
    background-color: black;
    border: 1px solid #FFFFFF;
}

/* Section Profile */
.sectionProfile{
    width: 600px;
    height: 400px;
    color: #666666;
    margin: 0 15px;
}
.sectionProfile__text--name{
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    margin-bottom: 15px;
}
.sectionProfile__text--intro{
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
}
.sectionProfile__block--book{
    width: 600px;
    height: 302px;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding-top: 15px;
    margin-bottom: 8px;
}
.sectionProfile__text--bookTitle{
    font-weight: bold;
    line-height: 22px;
    margin: 0 20px 15px 20px;
}
.sectionProfile__text--bookIntro{
    line-height: 24px;
    margin: 0 20px 15px 20px;
}
.sectionProfile__bookdate{
    margin: 0 20px 15px 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    position: relative;
}
.sectionProfile__text--dateTitle{
    font-weight: bold;
    margin-right: 5px;
}
.sectionProfile__input--bookdate{
    width: 193px;
    height: 35px;
    color: black;
    border: none;
    position: relative;
}
.sectionProfile__bookTime{
    margin: 0 20px 15px 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.sectionProfile__text--timeTitle{
    font-weight: bold;
}
label{
    display: flex;
    align-items: center;
}
.sectionProfile__input--bookTime{
    -webkit-appearance: none; /* 移除默認樣式 */
    appearance: none; /* 標準屬性 */
    border: none;
    width: 22px;
    height: 22px;
    background-color: #FFFFFF;
    margin:0 5px;
    border-radius: 50%;
}
.sectionProfile__input--bookTime:checked{
    border: 2px solid #FFFFFF;
    background-color: #448899;
}
.sectionProfile__bookPrice{
    margin: 0 20px 25px 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.sectionProfile__text--priceTitle{
    font-weight: bold;
}
.sectionProfile__btn{
    width: fit-content;
    margin: auto 20px;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 16px;
    background-color: #448899;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.separator{
    width: 100%;
    border: 1px solid #E8E8E8;
    margin: 40px 0;
}

/* Attraction Informations */
.infos{
    width: 1200px;
    color: #666666;
    margin: 40px auto;
}
.infos__text--description{
    line-height: 28px;
    margin: 10px;
}
.infos__block--address{
    margin: 20px 10px;
}
.infos__text--addressTitle{
    font-weight: bold;
    line-height: 32px;
}
.infos__text--address{
    line-height: 28px;
}
.infos__block--transport{
    margin: 20px 10px;
}
.infos__text--transportTitle{
    font-weight: bold;
    line-height: 32px;
}
.infos__text--transport{
    line-height: 28px;
}


/* 當視窗大小介於600-1200套用以下css */
@media (min-width: 600px) and (max-width: 1200px){
    .main{
        width: 600px;
        padding-top: 54px;
    }
    .section{
        display: block;
    }

    /* Picture Display Area */
    .sectionPicture{
        width: 600px;
        margin: 15px 0;
    }

    /* Section Profile */
    .sectionProfile{
        width: 600px;
        height: 400px;
        color: #666666;
        margin: 5px 0;
    }

    .separator{
        margin: 30px 0;
    }

    /* Attraction Informations */
    .infos{
        width: 600px;
        margin: 20px auto;
    }
}


/* 當視窗大小介於360-600套用以下css */
@media (min-width: 360px) and (max-width: 600px){
   .main{
        width: 360px;
        padding-top: 54px;
    }
    .section{
        display: block;
    }

    /* Picture Display Area */
    .sectionPicture{
        width: 360px;
        height: 350px;
        margin: 0;
        border-radius: 0;
    }

    /* Section Profile */
    .sectionProfile{
        width: 340px;
        margin: 20px 10px;
    }
    .sectionProfile__block--book{
        width: 340px;
        margin-bottom: 0;
    }

    /* Attraction Informations */
    .infos{
        width: 340px;
        margin: 0 10px;
    }
}